

        body{
            scroll-behavior:smooth;
            padding-top:70px;
        }

        .hero{
            background:linear-gradient(rgba(0,0,0,0.6),
            rgba(0,0,0,0.6)),
            url('https://images.unsplash.com/photo-1519389950473-47ba0277781c');

            background-size:cover;
            background-position:center;

            height:90vh;

            display:flex;
            align-items:center;

            color:white;
        }

        .hero-content{
            max-width:700px;
        }

        .section-title{
            margin-bottom:40px;
            font-weight:bold;
        }

        .card{
            transition:0.3s;
        }

        .card:hover{
            transform:translateY(-8px);
        }

        .card img{
            height:220px;
            object-fit:cover;
        }

        footer{
            background:#111827;
            color:white;
            padding:40px 0;
        }

        .contact-box{
            background:#f4f6f9;
            border-radius:20px;
            padding:40px;
        }

